<footer>
	<div id="footer-left">
		<a href="mailto:grant.n.chau.gr@dartmouth.edu"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.linkedin.com/in/g-chau"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/gnchau"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="https://scholar.google.com/citations?user=_nI37L8AAAAJ&hl=en"><i class="fa-lg fa fa-graduation-cap footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Grant Chau
		<br>
		Design from <a href="https://fredhohman.com">Fred Hohman</a>
		
	</div>
	<div id="footer-right">
		Thank you for stopping by! 😊 <br> <br>
		Please reach out if you'd like to connect.
	</div>
</footer>
