
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> 
    <link rel="stylesheet" href="/styles/styles2.css" />
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/styles/styles3.css" /> -->

</head>
<body>
    <div class="container">
        <h1 style="font-size: 32px">GUIDE Deconstructs Genetic Architectures Using Association Studies</h1>
        <p>
            Daniel Lazarev, <b>Grant Chau</b>, Alex Bloemendal, Claire Churchhouse, Benjamin Neale<br>
            <span style="font-size: 16px; color: #2E6BB1;">WCPG 2024 - Poster Session III</span><br>
            <span style="font-size: 16px; color: #2E6BB1;"></span>Poster F26
        </p>
            <div class="figure">
                <h2>
                    Poster
                </h2>
                <div class="posterbox">
                <a href="https://gnchau.github.io/public/WCPG_2024.pdf" data-rel="lightbox-image-2" data-rl_title="" data-rl_caption="" title=""><img fetchpriority="high" decoding="async" src="https://gnchau.github.io/public/WCPG_2024.jpeg" alt="" width="720" height="539" class="alignnone size-Standard wp-image-8684" srcset="https://gnchau.github.io/public/WCPG_2024.jpeg 720w" sizes="(max-width: 720px) 100vw, 600px" /></a>
                </div>
            </div>
        <div id="intro">
            <br>

            <h2>
                Abstract
            </h2>
            
            <p>
                Genome-wide association studies have revealed that the genetic architecture of most complex traits is characterized by a large number of distinct effects scattered across the genome. Functional enrichment analyses of these results suggest that the associations for any given complex trait are not purely random. Thus, we set out to leverage the genetic association results from many traits with a view to identifying the set of modules, or latent factors, that mediate these associations. The identification of such modules may aid in disease classification as well as the elucidation of complex disease mechanisms. 
            </p>
        </div>
        <p class="alert alert-info">
            <b>Quick links:</b>
            <a href="https://www.biorxiv.org/content/10.1101/2024.05.03.592285v1" target="_blank" rel="noopener noreferrer">Pre-Print</a>
            <span class="text-muted">|</span> <a href="https://guide-analysis.hail.is/" target="_blank" rel="noopener">Browser</a>
            <span class="text-muted">|</span> <a href="https://github.com/daniel-lazarev/GUIDE" target="_blank" rel="noopener">Code</a>
            <span class="text-muted">|</span> <a href="https://gnchau.github.io/public/WCPG_2024.pdf" target="_blank" rel="noopener">Poster</a>
        </p>
    </div>
</body>
