<div class="cv-left-date">{{ teach.year }}</div>
<div>
	<b>{{ teach.position }}</b>
</div>
<div><i>
	{{ teach.institution }}, 
	{{ teach.location }}</i>
</div>

{% if teach.ta == true %}
<div class="cv-description">
{{ teach.class }},
Instructor: 
{% for person in teach.instructor %}
{% if forloop.last == false %}
	{% include person.html person=person %},	
{% else if forloop.last == true %}
	{% include person.html person=person %}
{% endif %}
{% endfor %}
</div>
{% endif %}

<div class="cv-description">{{ teach.description }}</div>
<div class="cv-spacer"></div>